.container {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  height: 31rem;

  @media screen and (max-width: 768px) {
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projectsCard {
      display: flex;
      align-items: start;
      gap: 1rem;
      border: 1px solid #000;
      padding: 1rem;
      width: fit-content;

      .projectsInfo {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;

        p {
          margin: 0;
          font-size: 0.9rem;
        }

        span {
          font-size: 0.7rem;
          color: #414141;
          font-weight: 100;
        }

        .visitButton {
          margin-top: 3rem;
          font-size: 14px;
          font-weight: 200;
        }
      }
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      .aboutButton {
        font-size: 15px;
        font-weight: 200;
      }
    }

    .profileImage {
      width: 350px;
      height: 450px;

      @media (max-width: 768px) {
        width: 14rem;
        height: 20rem;
      }
    }
  }
}

.textAnim {
  font-size: 55px;

  @media (max-width: 48rem) {
    font-size: 24px;
  }
}
.textProfession {
  display: flex;

  .textAnim:nth-child(2) {
    color: var(--color-primary);
  }
}
