.container {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  height: 31rem;
  position: relative;

  @media screen and (max-width: 768px) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projectsCard {
      display: flex;
      align-items: start;
      gap: 1rem;
      border: 1px solid #000;
      padding: 1rem;
      width: fit-content;

      .projectsInfo {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;

        p {
          margin: 0;
          font-size: 0.9rem;
        }

        span {
          font-size: 0.7rem;
          color: #414141;
          font-weight: 100;
        }

        .visitButton {
          margin-top: 3rem;
          font-size: 14px;
          font-weight: 200;
        }
      }
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      .aboutButton {
        font-size: 15px;
        font-weight: 200;
      }
    }

    .imageWrapper {
      width: 100%;
      display: flex;
      align-items: center;

      .profileImage {
        width: 350px;
        height: 450px;

        @media (width <= 48rem) {
          width: calc(100% - 0.5rem);
          height: 20rem;
        }
      }

      .imageMarquee {
        width: 23rem;
        height: 4rem;

        text-transform: uppercase;
        font-weight: 600;

        position: absolute;
        top: 100%;
        right: 0;

        transform: rotate(90deg);
        transform-origin: top right;

        border: 2px solid black;
        border-left: none;
        border-right: none;
      }
    }
  }
}

.textAnim {
  font-size: 55px;

  @media (max-width: 48rem) {
    font-size: 26px;
  }
  @media (max-width: 320px) {
    font-size: 20px;
  }
  .subText {
    color: var(--color-primary);
  }
}

.marquee {
  height: 4rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;

  border: 2px solid black;
  border-right: none;
  border-left: none;
}
