.container {
  display: flex;
  gap: 10rem;
  margin-top: 4rem;

  .paraf {
    gap: 50px;
    max-width: 45rem;
  }

  &.mobile {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    .paragContainer {
      .paragraph {
        font-size: 1.1rem;
      }
    }
  }
}

.profile {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(2, 1fr);

  .image {
    width: 7.5rem;
    height: 10.3rem;
    background-color: gray;
  }
}

.mobile .profile {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
  }
}
