.container {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.8);
  }

  .imageReveal {
    background-color: var(--color-background);
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
