body {
  margin: 0;
  padding-inline: 12px;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #08CB00;
  --color-secondary: #50e3c2;
  --color-background: #fff;
  --color-text: #121212;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

html {
  scrollbar-width: none;
}
