.container {
  width: fit-content;
  padding: 0.9rem;
  margin: 1rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: start;

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .subTitle {
    margin-top: 1rem;
    font-weight: 100;
    color: #414141;
    font-size: 0.9rem;
  }

  .title {
    text-transform: uppercase;
    font-weight: 500;
  }

  .visitButton {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 200;
    width: 5.5rem;
  }

  &.mobile {
    padding: 0.7rem;
    margin: 0.5rem;

    .subTitle {
      font-size: 0.7rem;
      margin-top: 0.75rem;
    }

    .title {
      font-size: 0.8rem;
    }

    .visitButton {
      font-size: 12px;
      width: 5rem;
      margin-top: 0.75rem;
    }
  }
}
