.containerHeader {
  width: 100%;

  font-size: 3rem;
  padding: 2rem;
  position: relative;

  .title {
    text-align: start;
    font-weight: 300;
  }

  .subtitle {
    text-align: end;
    font-weight: 300;
    margin-bottom: 7rem;
  }

  .mascot {
    position: absolute;
    bottom: 10;
    right: 0;
  }

  &.mobile {
    font-size: 0.8rem;
    padding: 1rem;

    .title {
      text-align: left;
      font-weight: 400;
    }

    .subtitle {
      text-align: right;
      font-weight: 300;
      margin-bottom: 0;
    }

    .mascot {
      display: none;
    }
  }
}
